<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/128/1159/1159633.png" type="image/x-icon">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
 
</head>
<body>

    <h1 class="title">To Do List</h1>

    

    <div class="box" id="heading">
    <h1> <%= kindOfDay  %></h1>
    </div>

    <div class="box">
        <%  for (var i = 0; i<newListItems.length; i++) { %>

     <div class="item">
         <input type="checkbox">
          <p> <%= newListItems[i] %></p>
     </div>

     <% } %>

        <form class = "item" action="/" method="POST">
        <input type="text" name="newItem" placeholder="New items" autocomplete="off">
        <button type="submit" name="button">+</button>
        </form>
    </div>

    <div class="quote">
        <p>‘If you spend too much time thinking about a thing, you’ll never get it done, just add it to your to-do-list.’</p>
    </div>
    

    



  



   
    
</body>
</html>